
.layout {
  background-color: var(--pagina_fondo);
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
}

.header__left,
.header__express,
.header__right {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 300px;
}

.header__express {
  font-family: "Passion One", sans-serif;
  font-size: 10px;
}

.header__express-icon {
  width: 30px;
  margin-right: 10px;
  color: var(--BLANCO_PURO);
}

.header__info {
  font-size: 1.5rem;
  color: var(--GRIS_TITULOS);
}

.header__nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  letter-spacing: 5px;
}

.header__nav-link {
  text-decoration: none;
  color: var(--SOLO_NEGRO);
  font-weight: bold;
  font-size: 1rem;
  margin: 10px;
  text-transform: uppercase;
}

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 50px;
  text-align: start;
}

.promo__slogan {
  grid-column: 1 / -1;
  text-align: start;
}

.promo__slogan-text {
  font-size: 1.5rem;
  color: var(--MARRON_OSCURO_PALIDO);
  margin-bottom: 10px;
  margin-left: 10%;
  padding: 10px;
  border: solid 1px var(--GRIS_SOMBRA);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-image: repeating-linear-gradient(
      135deg,
      var(--MARRON_OSCURO_PALIDO),
      var(--MARRON_OSCURO_PALIDO) 10px,
      transparent 10px,
      transparent 20px
  ) 1;
}

.promo__left{
  align-items: start;
}
.promo__title-main {
  font-family: "Anton", sans-serif;
  font-weight: 10;
  font-style: normal;
  font-size: 13rem;
  color: #3b1900;
  margin-left: 50px;
  line-height: 1;
}
.promo__title-main {
  text-shadow: 0px 5px 0px var(--TIRANDO_A_BLANCO);
}
.promo__title-main {
  transform: translate;
  z-index: 1;
}
.promo__title-week {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  color: #3b1900;
  margin-top: 0px;
  /* font-size: 5rem; */
  margin-left: 50px;
  z-index: 1;
}
.promo__title-week {
  text-shadow: 0px 5px 0px var(--TIRANDO_A_BLANCO);
  z-index: -1;
}

.promo__price{
  position: absolute;
  margin-top: 200px;
  margin-right: 110px;
}

.circle {
  height: 150px;
  width: 150px;
  background-color: var(--ROJO);
  border-radius: 50%;
  margin-right: 90px;
  position: absolute;
  right: 130px;
  transform: translate;
  z-index: 5;
  border-top: 50px;
  padding: 10px;
  border-width: 2px;
}

.circle__rayas {
  border: 5px dashed var(--BLANCO_PURO);
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.promo__price-text,
.promo__price-text2,
.promo__price-subtext {
  font-family: "Anton", sans-serif;
  color: var(--BLANCO_PURO);
}
.promo__price-text {
  font-size: 2.9rem;
  padding-left: 20px;
}
.promo__price-text2 {
  font-size: 1.5rem;
}
.promo__price-subtext {
  font-size: 1.9rem;
  padding-left: 30px;
}


.promo_publicidad-imgBurguer {
  margin-top: 200px;
  position: relative;
  box-shadow: 0 -4px 1000px var(--BLANCO_PURO);
}

.promo__publicidadBurguer {
  width: 500px;
  margin-top: -300px;
  margin-right: -200px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate;
  z-index: 3;
  border-top: 50px;
}

.promo__publicidadBurguer::before {
  top: -20px;
}

.promo__publicidadCola {
  margin-top: -440px;
  margin-right: -200px;
  position: absolute;
  margin-left:-20px;
  right: 0;
  top: 50%;
  transform: translate;
  width: 200px;
  z-index: 2;

}

.promo__publicidadPapitas {
  margin-top: -400px;
  margin-right: 130px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate;
  width: 300px;
  z-index: 1;
  transform: rotate(320deg);
}

.promo__publicidadPapitas::before {
  top: -20px;
}


@media (max-width: 768px) {
  .header__container {
      flex-direction: column;
      align-items: flex-start;
   
  }

  .header__left {
      margin-bottom: 10px;
  }

  .promo {
      grid-template-columns: 1fr;
      text-align: start;
      align-items: flex-start;
      margin: 0;
  }
  .header__nav-list{
    display: inline-block;

  }

  .promo__title-main {
      font-size: 5rem;
  }

  .promo__title-week {
      font-size: 3rem;
      align-items: center;
  }

  .circle {
    height: 100px;
    width: 100px;
  }

  .circle__rayas {
      height: 80px;
      width: 80px;
  }

  .promo__price-text {
      font-size: 2rem;
  }

  .promo__price-text2 {
      font-size: 1rem;
  }

  .promo__price-subtext {
      font-size: 1.2rem;
  }

  .promo_publicidad-imgBurguer {
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width: 480px) {
  .header__container {
      padding: 10px;
  }

  .promo__title-main {
      font-size: 4rem;
  }

  .promo__title-week {
      font-size: 2rem;
      justify-content: center;
      align-items: center;
  }
  .promo__price{
  }
  .circle {
    height: 80px;
    width: 80px;
    right: -150px;
    top: -100px;
  }
  .circle__rayas {
    height: 60px;
    width: 60px;
  }

  .promo__price-text {
      font-size: 1.5rem;
  }

  .promo__price-text2 {
      font-size: 0.15rem;
  }

  .promo__price-subtext {
      font-size: 1rem;
      align-items: center;
      margin-top: -10px;
      padding: 10px;
  }

  .promo_publicidad-imgBurguer {
    align-items: start;
    width: 100px;
  }
  .promo__publicidadBurguer {
    width: 150px;
    right: 10px;
    left: 20px;
    margin-right: 10%;
    margin-top: -200%;
  }

  .promo__publicidadCola {
    margin-left: 50px;
    margin-top: -300%;
    width: 75px;
    right: 120px;
    align-items: center;

  }
  .promo__publicidadPapitas {
    width: 92px;
    left: -30px;
    margin-top: -210px;
  }
  
}
