@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Importación de otros archivos CSS */
@import url(Css/promotion.css); /* Importa el estilo de promociones */
@import url(Css/Variables.css); /* Importa variables CSS */
@import url(Css/layaout.css); /* Importa el diseño general de la página */
@import url(Css/burguer.css); /* Estilos específicos para hamburguesas */
@import url(Css/reservationA.css); /* Estilos para la sección de reservas */
@import url(Css/events.css); /* Estilos para eventos */
@import url(Css/info.css); /* Estilos para la información */

/* Reajusta los márgenes y rellenos de todos los elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Asegura que los elementos se dimensionen según su caja de contenido */
}

/* Estilos para el cuerpo de la página */
body{
    background-color: var(--nada); /* Utiliza la variable CSS --nada para el color de fondo */
}

/* Estilo para el contenedor principal de contenido */
.content{
    display: flex; /* Aplica el modelo de caja flexible (flexbox) */
    overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
    overflow-y: hidden; /* Desactiva el desplazamiento vertical */
    flex-direction: column; /* Organiza los elementos en una columna */
}

/* Media queries para pantallas de hasta 768px */
@media (max-width: 768px) {
    .header__container {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: flex-start; /* Alinea los elementos al inicio */
    }
    .header__left {
        margin-bottom: 10px; /* Añade un margen inferior a la izquierda */
    }
    .promo {
        grid-template-columns: 1fr; /* Establece una sola columna en el grid */
        text-align: start; /* Alinea el texto al inicio */
        align-items: flex-start; /* Alinea los elementos al inicio */
        margin: 0; /* Elimina los márgenes */
    }
    .header__nav-list {
        display: inline-block; /* Muestra la lista de navegación como bloque en línea */
    }
    .promo__title-main {
        font-size: 5rem; /* Establece el tamaño de la fuente del título principal */
    }
    .promo__title-week {
        font-size: 3rem; /* Establece el tamaño de la fuente del título semanal */
        align-items: center; /* Centra los elementos dentro del contenedor */
    }
    .circle {
        height: 100px; /* Establece la altura del círculo */
        width: 100px; /* Establece el ancho del círculo */
    }
    .circle__rayas {
        height: 80px; /* Establece la altura de las rayas dentro del círculo */
        width: 80px; /* Establece el ancho de las rayas dentro del círculo */
    }
    .promo__price-text {
        font-size: 2rem; /* Establece el tamaño de la fuente del texto del precio */
    }
    .promo__price-text2 {
        font-size: 1rem; /* Establece el tamaño de la fuente del segundo texto del precio */
    }
    .promo__price-subtext {
        font-size: 1.2rem; /* Establece el tamaño de la fuente del texto adicional del precio */
    }
    .promo_publicidad-imgBurguer {
        flex-direction: column; /* Establece la dirección del flexbox a columna */
        align-items: center; /* Alinea los elementos al centro */
    }
    .promotion__container {
        display: flex; /* Aplica flexbox */
        flex-direction: column; /* Organiza los elementos en columna */
        padding: 20px; /* Aplica relleno de 20px */
        width: 100%; /* El contenedor ocupa todo el ancho disponible */
    }
    .promotion__item {
        margin-bottom: 20px; /* Añade un margen inferior */
        width: 100%; /* El elemento ocupa el 100% del ancho */
        left: 0; /* Elimina cualquier desplazamiento a la izquierda */
    }
    .promotion__item--large {
        grid-row: initial; /* Restablece la fila del grid */
        left: 0; /* Elimina cualquier desplazamiento a la izquierda */
        width: 100%; /* El elemento ocupa el 100% del ancho */
    }
    .promotion__image {
        width: 100%; /* La imagen ocupa el 100% del ancho */
        height: auto; /* Mantiene la proporción de la imagen */
    }
    .promotion__image--grande {
        width: 100%; /* La imagen grande ocupa el 100% del ancho */
        height: auto; /* Mantiene la proporción de la imagen */
    }
    .textos__content {
        position: static; /* Restablece la posición a estática */
        font-size: 1rem; /* Establece el tamaño de la fuente */
        text-align: center; /* Centra el texto */
        padding: 10px 0; /* Añade relleno superior e inferior */
        color: black; /* Establece el color del texto a negro */
        top: auto; /* Elimina cualquier desplazamiento superior */
        bottom: auto; /* Elimina cualquier desplazamiento inferior */
        left: auto; /* Elimina cualquier desplazamiento izquierdo */
    }
    .promotion__title {
        font-size: 1.2rem; /* Establece el tamaño de la fuente del título de promoción */
    }
    .promotion__subtitle {
        font-size: 1.5rem; /* Establece el tamaño de la fuente del subtítulo de promoción */
    }
    .contenedor__texto {
        width: 90%; /* El contenedor de texto ocupa el 90% del ancho */
        margin-top: 20px; /* Añade un margen superior */
    }
    .boton__amarillo {
        width: 80%; /* El botón ocupa el 80% del ancho */
        padding: 10px; /* Añade relleno de 10px */
    }
    .texto__titulo {
        font-size: 2rem; /* Establece el tamaño de la fuente del título de texto */
    }
    .texto__parrafo {
        margin-bottom: 20px; /* Añade un margen inferior */
    }
    .burguerCard {
        grid-template-columns: 1fr; /* Establece una sola columna en el grid */
    }
    .card-hamburguesa__imagen {
        margin-left: 65px; /* Añade un margen izquierdo de 65px */
        max-width: 250px; /* Establece el ancho máximo de la imagen */
        max-height: 200px; /* Establece la altura máxima de la imagen */
    }
}
